#include <dt-bindings/zmk/keys.h>
#include <behaviors.dtsi>
#include <behaviors/japanese_input.dtsi>
#include <dt-bindings/zmk/kscan_mock.h>

/ {
    keymap {
        compatible = "zmk,keymap";
        default_layer {
            bindings = <
                &jp A B
                &jp SPACE SPACE
                &jp S T
                &jp_tog 1
                &jp_tog 0
            >;
        };
    };
};
